# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
node_modules

# sqlite databases & write-ahead logs
*.sqlite
*.sqlite3
*.sqlite-wal
*.sqlite-shm
*.sqlite-journal
*.db
*.db-wal
*.db-shm


# allow committing the SQLite WAL file under data/
!data/db.sqlite-wal

